@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@theme {
  --font-mulish: "Mulish", sans-serif;

  /* --text-normal: 1.25rem;
  --text-normal--line-height: 120%;
  --text-normal--letter-spacing: 1%;
  --text-heading: 2.25rem;
  --text-heading--line-height: 100%;
  --text-heading--letter-spacing: 1%; */

  --color-text: #161615;
  --color-background: #d8d2c2;
  --color-primary-100: #3a6b51;
  --color-primary-200: #2e4a3b;
  --color-secondary: #9cb897;
  --color-accent: #e7c27d;
}

:root {
  @apply bg-background;
}

.call-to-action-button {
  @apply flex items-center gap-8 bg-background text-primary-200 px-4 py-3 uppercase hover:bg-accent transition-colors duration-500 ease-in-out cursor-pointer;
}

.call-to-action-button span {
  @apply font-semibold tracking-wider font-mulish text-lg;
}
